# Ignore PyCharm and temporary files
.idea/
__pycache__/

# Pytest
.pytest_cache/
.coverage

# Ignore virtual enviroments
venv/
.python-version

# Local configuration
config.local.yaml

# Logs
geckodriver.log
